@model DbEscuela.Models.Tb_Alumno

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

    <dl class="row">
        <dt class="col-sm-4">ID</dt>
        <dd class="col-sm-8">@Model.ID_Alumno</dd>

        <dt class="col-sm-4">Nombre</dt>
        <dd class="col-sm-8">@Model.Nombres @Model.ApellidoPaterno @Model.ApellidoMaterno</dd>

        <dt class="col-sm-4">No. Control</dt>
        <dd class="col-sm-8">@Model.NoControl</dd>

        <dt class="col-sm-4">Activo</dt>
        <dd class="col-sm-8">@Model.Activo</dd>

        <dt class="col-sm-4">Nacimiento</dt>
        <dd class="col-sm-8">@Model.FechaDeNacimiento.ToShortDateString()</dd>

        <dt class="col-sm-4">Carrera</dt>
        <dd class="col-sm-8">@Model.Tb_Carrera.Carrera</dd>
    </dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Alumno }) |
    @Html.ActionLink("Back to List", "Index")
</p>