@model DbEscuela.Models.Tb_Alumno

@{
    ViewBag.Title = "Edit";
}

        @Html.HiddenFor(model => model.ID_Alumno)

        <div class="form-horizontal">
            <h2>Editar</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-8">
                    <label class="form-label fw-bold">Carrera</label>
                    @{
                        var carreras = ViewBag.ID_CARRERA as SelectList ?? new SelectList(new List<string>());
                        var selectedValue = Model.ID_CARRERA.ToString();
                    }

                    <select name="ID_CARRERA" id="ID_CARRERA" class="form-control">
                        @if (carreras.Any())
                        {
                            foreach (var item in carreras)
                            {
                                <option value="@item.Value"
                                        @(item.Value == selectedValue ? "selected" : "")>
                                    @item.Text
                                </option>
                            }
                        }
                        else
                        {
                            <option value="">No hay carreras disponibles</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" id="btnGuardar" @*onclick="GuardarCambios(@Model.ID_Alumno)"*@>
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
<script>
    $("#btnGuardar").click(function () {
        console.log("Evento");

        var idCarrera = $('#ID_CARRERA').val();

        if (!idCarrera) {
            toastr.error('Por favor seleccione una carrera');
            return;
        }

        $.ajax({
            url: '/Alumno/ActualizarCarrera',
            type: "POST",
            data: {
                id: '@Model.ID_Alumno',
                id_carrera: idCarrera
            },
            success: function (data) {
                if (data.Success) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
                else {
                    alert("chin");
                }
            },
            error: function (xhr) {
                alert("No jala");
            }
        });
    });

</script>