@model DbEscuela.Models.Tb_Carrera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Carrera }) |
    @Html.ActionLink("Back to List", "Index")
</p>
