@model IEnumerable<DbEscuela.Models.Tb_Carrera>

@{
    ViewBag.Title = "Carrera";
}

<h2>Carreras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                <button type="button" class="btn btn-info btn-detalles" data-id="@item.ID_Carrera">Detalles</button>
                <button type="button" class="btn btn-warning btn-editar" data-id="@item.ID_Carrera">Editar </button>
                <button type="button" class="btn btn-danger btn-borrar" data-id="@item.ID_Carrera">Eliminar </button>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="detallesModal" tabindex="-1" aria-labelledby="detallesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="detallesModalBody">
                <!-- Aquí se cargan los detalles -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            // Manejar clic en botón de detalles
            $('.btn-detalles').click(function() {
                var idAlumno = $(this).data('id');

                $('#detallesModalBody').load('@Url.Action("Details", "Alumno")', { id: idAlumno }, function() {
                    $('#detallesModal').modal('show');
                });
            });
        });

        $(document).ready(function () {

            $('.btn-editar').click(function() {
                var idAlumno = $(this).data('id');

                $('#detallesModalBody').load('@Url.Action("Edit", "Alumno")', { id: idAlumno }, function() {
                    $('#detallesModal').modal('show');
                });
            });
        });

        $(document).ready(function () {
            $('.btn-borrar').click(function () {
                var idAlumno = $(this).data('id');

                $('#detallesModalBody').load('@Url.Action("Delete", "Alumno")', { id: idAlumno }, function() {
                    $('#detallesModal').modal('show');
                });
            });
        });
    </script>
}