@model IEnumerable<DbEscuela.Models.Tb_Carrera>

@{
    ViewBag.Title = "Carrera";
}

<h2>Carreras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Carrera }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Carrera }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Carrera }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
